@model FutsalProject.Models.TorneoViewModel

@using Core.Infraestructure.Custom

@{
    ViewData["Title"] = "Edit";
    var resultEntity = (ResultEntity)ViewBag.ResultEntity;
}

<h2>Edit</h2>

<h4>TorneoViewModel</h4>
<hr />

@if (resultEntity != null)
{
    <div class="alert @(resultEntity.ResultOk ? "alert-success" : "alert-danger") alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Completed: @resultEntity.ResultOk</strong> @resultEntity.Message
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPrimeraRonda" class="control-label"></label>
                <input asp-for="IdPrimeraRonda" class="form-control" />
                <span asp-validation-for="IdPrimeraRonda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSegundaRonda" class="control-label"></label>
                <input asp-for="IdSegundaRonda" class="form-control" />
                <span asp-validation-for="IdSegundaRonda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTerceraRonda" class="control-label"></label>
                <input asp-for="IdTerceraRonda" class="form-control" />
                <span asp-validation-for="IdTerceraRonda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoDeJuego" class="control-label"></label>
                <input asp-for="TiempoDeJuego" class="form-control" />
                <span asp-validation-for="TiempoDeJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Borrado" /> @Html.DisplayNameFor(model => model.Borrado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
