@model FutsalProject.Models.JugadorViewModel
@using Core.Infraestructure.Custom

@{
    ViewData["Title"] = "Create";
    var resultEntity = (ResultEntity)ViewBag.ResultEntity;
}

<h2>Create</h2>

<h4>JugadorViewModel</h4>
<hr />

@if (resultEntity != null)
{
    <div class="alert @(resultEntity.ResultOk ? "alert-success" : "alert-danger") alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Completed: @resultEntity.ResultOk</strong> @resultEntity.Message
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoEmergencia" class="control-label"></label>
                <input asp-for="TelefonoEmergencia" class="form-control" />
                <span asp-validation-for="TelefonoEmergencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoUrl" class="control-label"></label>
                <input asp-for="FotoUrl" class="form-control" />
                <span asp-validation-for="FotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPieHabil" class="control-label"></label>
                <input asp-for="IdPieHabil" class="form-control" />
                <span asp-validation-for="IdPieHabil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAfiliacion" class="control-label"></label>
                <input asp-for="FechaAfiliacion" class="form-control" />
                <span asp-validation-for="FechaAfiliacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Borrado" /> @Html.DisplayNameFor(model => model.Borrado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

